/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --text_color: var(--pink_color5, #f1b2ce);
  --no_focus_color: var(--pink_color, #db00ff);
  --header_color: var(--red_color, #ff0070);
  --block_color: var(--red_color, #ff0070);
  --block_title_color: var(--red_color, #ff0070);
  --pages-background-color: var(--black_color, #000028);
  --basic__color: var(--black_color, #000028);
  --theme-color-button_hover: var(--color_link, #ff007066);
  --background-image: url("../images/cover-image-dark.png");
  --rec-decoration: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text_color: var(--pink_color5, #f1b2ce);
    --no_focus_color: var(--pink_color, #db00ff);
    --header_color: var(--red_color, #ff0070);
    --block_color: var(--red_color, #ff0070);
    --pages-background-color: var(--black_color, #000028);
    --basic__color: var(--black_color, #000028);
    --theme-color-button_hover: var(--color_link, #ff007066);
    --background-image: url("../images/cover-image-dark.png");
    --rec-decoration: visible;
  }
}
