/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --text_color: var(--black-color2, #353430);
  --no_focus_color: var(--pink_color3, #ffc2e6);
  --header_color: var(--black-color2, #353430);
  --block_color: var(--pink_color2, #ff8dcb);
  --pages-background-color: var(--pink_color4, #fff1f7);
  --basic__color: var(--black-color2, #353430);
  --theme-color-button_hover: var(--black-color3, #32312d66);
  --block_title_color: var(--black-color2, #353430);
  --background-image: url("../images/cover-image-light.png");
  --rec-decoration: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --text_color: var(--black-color2, #353430);
    --no_focus_color: var(--pink_color3, #ffc2e6);
    --header_color: var(--black-color2, #353430);
    --block_title_color: var(--black-color2, #353430);
    --block_color: var(--pink_color2, #ff8dcb);
    --pages-background-color: var(--pink_color4, #fff1f7);
    --basic__color: var(--black-color2, #353430);
    --theme-color-button_hover: var(--black-color3, #32312d66);
    --background-image: url("../images/cover-image-light.png");
    --rec-decoration: hidden;
  }
}
