/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--pages-background-color, #000028);
  background-image: var(--background-image, url("../images/cover-image.png"));
  font-family: var(--page-font-family, "IBM Plex mono", courier);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text_color, #f1b2ce);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.focus_title {
  color: var(--no_focus_color, #db00ff);
  text-shadow: 4px 4px 0px var(--red_color, #ff0070);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
}

.block-position {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
}

.header {
  align-items: start;
  height: 100vh;
  min-height: 100px;
}

.block_grid {
  display: grid;
  gap: 18px;
}

.header__theme-menu {
  margin-bottom: 50px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--header_color, #ff0070);
  border-block-start: 1px solid var(--header_color, #ff0070);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--header_color, #ff0070);
  border-block-end: 1px solid var(--header_color, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.header__theme-menu-button {
  color: var(--header_color, #ff0070);
  text-align: center;
  line-height: 18px;
  padding: 2px 12px;
  border: 1px solid transparent;
  background: transparent;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--theme-color-button_hover, #ff007066);
}

.header__theme-menu-button_active {
  border-color: var(--header_color, #ff0070);
  pointer-events: none;
  cursor: default;
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--header_color, #ff0070);
}

.paragraph_title_block {
  justify-self: flex-end;
}

.paragraph_title {
  margin-block: 55px;
  max-width: 491px;
  color: var(--basic__color, #000028);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background: var(--block_color, #ff0070);
}

.rec-decoration {
  position: absolute;
  z-index: -1;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  visibility: var(--rec-decoration, visible);
  inset-inline-end: clamp(28px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(17px, 0.0286rem + 2.5445vw, 20px);
}

.rec-icon {
  color: var(--red_color);
  line-height: 24px;
}

.circle {
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--block_color);
  box-shadow: 0 0 2px 2px var(--block_color);
  border-radius: 50%;
}

.second_block_section {
  display: grid;
  gap: 11px;
}

.block_title {
  color: var(--block_title_color, #ff0070);
  font-family: var(--page-font-family, courier);
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
}

.red_title_article {
  background: var(--block_color, #ff0070);
}

.block_name {
  color: var(--basic__color, #000028);
  font-family: var(--page-font-family, courier);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.text_with_link {
  text-decoration: none;
}

.text_with_link:hover {
  text-decoration: underline;
}

.text_with_link:focus {
  outline: 0;
}

.text_with_link:focus-visible {
  outline: 1px solid currentColor;
}

.span_text_with_link {
  text-shadow: 2px 2px 0 var(--block_color, #ff0070);
}

.third_block_section {
  display: grid;
  gap: 20px;
}

.x-axis_blocks {
  display: grid;
  gap: 22px;
}

.article_block {
  display: grid;
  gap: 10px;
}

.fourth_block_section {
  display: grid;
  gap: 18px;
}

.column_fourth_block_section {
  display: grid;
  gap: 20px;
}

.y-axis_blocks {
  display: grid;
  gap: 20px;
}

.article_header {
  color: var(--basic__color, #000028);
  font-family: var(--page-font-family, courier);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  background: var(--block_color, #ff0070);
}

.fifth_block_section {
  display: grid;
}

.grid-list {
  display: grid;
  gap: 10px;
}

.grid-list-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.fifth_block_section {
  display: grid;
  gap: 17px;
}

.footer {
  place-items: center;
  height: 100vh;
  min-height: 100px;
}

.second_block {
  display: grid;
  gap: 50px;
  padding: 40px 10px 40px 10px;
}

.article_one {
  display: grid;
  gap: 10px;
}

.footer_text-shadow {
  text-shadow: 2px 2px 0px var(--red_color, #ff0070);
}

@media (width = 375px) {
  .rec-decoration {
    inset-inline-end: clamp(18px, 0.0286rem + 2.5445vw, 20px);
    inset-block-start: clamp(12px, 0.0286rem + 2.5445vw, 20px);
  }
  .second_block {
    display: grid;
    gap: 50px;
    padding: 40px 10px;
  }
  .second_block_section {
    display: grid;
    gap: 21px;
  }

  .fifth_block_section {
    gap: 7px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }
  .block-position {
    display: grid;
    padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
    min-block-size: 100vh;
  }
  .header__theme-menu {
    justify-self: end;
    margin-block: 66px;
  }
  .second_block {
    display: grid;
    gap: 49px;
    padding: 40px 10px 40px 10px;
  }
}

@media (width>=375px) and (width < 768px) {
  .grid2:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .grid5:nth-child(5) {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .grid4:nth-child(4) {
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .header__theme-menu {
    margin-top: 65px;
    margin-bottom: 71px;
  }
  .paragraph_title {
    inline-size: 356px;
  }
  .header__theme-menu {
    justify-self: end;
    margin-block: 66px;
  }
  .header__theme-menu-list {
    flex-direction: column;
  }
  .rec-decoration {
    inset-inline-end: clamp(18px, 0.0286rem + 2.5445vw, 20px);
    inset-block-start: clamp(12px, 0.0286rem + 2.5445vw, 20px);
  }
}

@media (width >=400px) and (width<=768px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .header__theme-menu {
    justify-self: end;
    margin-top: 173px;
    margin-bottom: 71px;
  }
  .paragraph_title {
    justify-self: end;
    inline-size: 364px;
  }

  .y-axis_blocks {
    gap: 20px;
  }

  .x-axis_blocks {
    gap: 22px;
  }
  .article_block {
    gap: 9px;
  }

  .fifth_block_section {
    gap: 18px;
  }

  .fourth_block_section {
    gap: 21px;
  }

  .grid-list {
    gap: 20px;
  }
}

@media (width = 768px) {
  .fourth_block_section {
    grid-template-columns: 1fr 3fr;
    gap: 21px;
  }
  .block_title {
    width: 236px;
  }

  .second_block_section {
    gap: 20px;
  }
  .block_grid {
    gap: 21px;
  }
}

@media (width >= 768px) {
  .header {
    padding-inline-start: 0;
  }
  .second_block {
    gap: 80px;
    padding: 60px 20px 60px 20px;
  }
  .second_block_section {
    grid-template-columns: 2fr 4fr;
  }

  .focus_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .fourth_block_section {
    grid-template-columns: 2fr 4fr;
    gap: 20px;
  }
  .grid-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .grid1:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .grid2:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .grid3:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .grid5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }
}

@media (width >= 1024px) {
  .x-axis_blocks {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 22px;
  }
  .header__theme-menu {
    justify-self: center;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 214px;
  }
  .fourth_block_section {
    gap: 11px;
  }
  .article_one {
    gap: 9px;
  }
  .third_block_section {
    gap: 22px;
  }
}
