/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --red_color: #FF0070;
  --pink_color: #DB00FF;
  --pink_color2:#FF8DCB;
  --pink_color3:#FFC2E6;
  --pink_color4:#FFF1F7;
  --text_color_on_page: #F1B2CE;
  --color_visible:#F1B2CE;
  --black_color:#000028;
  --black-color2: #353430;
  --black-color3:#32312d66;
  --color_link: #ff007066;
  --page-font-family: "IBM Plex Mono";
  --background-image: url(../images/cover-image.png);
  --page-background-color: var(--black_color, #000028);


  --no_focus_color:var(--pink_color, #DB00FF);
  --text_color: var(--text_color_on_page, #F1B2CE);
  --block_with_paragraph:var(--red_color, #FF0070);
  --block_paragraph: var(--red_color, #FF0070);
  --link_shadow_color: var(--red_color, #FF0070);
  --theme-color-button: var(--red_color,  #FF0070);
  --corner-color: var(--red_color, #FF0070);
  --theme-color-button_hover: var(--color_link, #ff007066);
  --text_color_visible: var(--color_visible, #F1B2CE);

  
  
  --rec-decoration-visibility: visible;


}



