/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --red_color: #ff0070;
  --pink_color: #db00ff;
  --pink_color2: #ff8dcb;
  --pink_color3: #ffc2e6;
  --pink_color4: #fff1f7;
  --pink_color5: #f1b2ce;

  --black_color: #000028;
  --black-color2: #353430;
  --black-color3: #32312d66;
  --color_link: #ff007066;

  --page-font-family: "IBM Plex Mono", courier;

  --text_color: var(--pink_color5, #f1b2ce);
  --no_focus_color: var(--pink_color, #db00ff);
  --header_color: var(--red_color, #ff0070);
  --block_color: var(--red_color, #ff0070);
  --block_title_color: var(--red_color, #ff0070);
  --pages-background-color: var(--black_color, #000028);
  --background-image: url(../images/cover-image.png);
  --basic__color: var(--black_color, #000028);
  --theme-color-button_hover: var(--color_link, #ff007066);

  --rec-decoration-visibility: visible;
}
